<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p align="justify">I'm a Philadelphia native who has been living
          in Lancaster, PA since 2016, and I'm passionate about JS and Ruby.</p>
        </div>
        <div class="col-lg-4">
          <p align="justify">When I'm not coding, I enjoy recording music, hanging out with my family, and reading.</p>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="/learn_more" class="btn btn-lg btn-outline">
              Learn More!
            </a>
          </div>
        </div>
      </div>
    </section>
